# Loại bỏ các file đã biên dịch (Compiled files)
*.class

# Loại bỏ toàn bộ thư mục target của Maven (Nơi chứa file dịch)
target/

# Loại bỏ các file cấu hình của IDE (sạch sẽ hơn)
.idea/
.settings/
.project/
.classpath/
bin/
*.iml

# Loại bỏ các file tạm của hệ điều hành
.DS_Store
Thumbs.db
# Loại bỏ file dữ liệu để không bị ghi đè dữ liệu của nhau khi pull code
*.dat
*.bin
database/